body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
    z-index: -1;
    background: url('../imagens/trigo.jpg');
    background-position: center;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    display: inline-block;

}

.cores {
    cor1: #D99F59;
    cor2: #59381C;
    cor3: #BF8450;
    cor4: #BF5D24;
    cor5: #40241A;
}